@using Hospital.Core
@model UpdateTimingViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UpdateTimingViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="DoctorId" type="hidden" value="@Model.DoctorId" />
            </div>
            <div class="form-group">
                <label asp-for="DoctorName" class="control-label"></label>
                <input asp-for="DoctorName" class="form-control" disabled="true" />
                <input asp-for="DoctorName" type="hidden" />
                <span asp-validation-for="DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" disabled="true" />
                <input asp-for="Date" type="hidden" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList<Status>()" class="form-control">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MorningShiftStartTime" class="control-label"></label>
                <select asp-for="MorningShiftStartTime" asp-items="@Model.MorningShiftStartTimes" class="form-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="MorningShiftStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MorningShiftEndTime" class="control-label"></label>
                <select asp-for="MorningShiftEndTime" asp-items="@Model.MorningShiftEndTimes" class="form-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="MorningShiftEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AfternoonShiftStartTime" class="control-label"></label>
                <select asp-for="AfternoonShiftStartTime" asp-items="@Model.AfternoonShiftStartTimes" class="form-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="AfternoonShiftStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AfternoonShiftEndTime" class="control-label"></label>
                <select asp-for="AfternoonShiftEndTime" asp-items="@Model.AfternoonShiftEndTimes" class="form-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="AfternoonShiftEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.DoctorId">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}